.collapsible{
	height: 50%;
	overflow: auto;
}

.collapsible-header {
  display: block;
  cursor: pointer;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem; }

    

.buffer{
	height: 20px;

	display: block;
}

.profile3{
/*	height: 30%;
	width: 30%;*/
	/*height: 30%;*/
	border: 1px black solid;
}

.rowThird{
	height: 33%;
}

/*body{
	background-image: url("/images/image1.jpg");
	background-size: 100%;
}*/

/*#gh{
	background-color: white;
	color: black;
	opacity: 0.1;
	border-radius: 10px;
}*/

#gh2{
	background-image: url("/images/image1.jpg");
}

/*#jk{
	border-radius: 50px;
}*/

.relative{
	position: relative;
}

.nothing{
	bottom: -25px;

}


.absolute{
	position: absolute;
}

/*From Client/Views/Outcomes.css
.container{
	background-color: 'red';
	display: block;
	height: '300px';
}


.words{
	color: red;
}*/

/*From Components/Navbar.css
ul {
	display: inline;
}*/

#testSmall{
	width: 33%;
	display: inline-block;

}


@media (min-width: 400px) and (max-width: 699px) {
  #testSmall {
    width: 100%;
    display: block;
  } 
}





