.app-link {
  color: black;
}

.app-detail-heading {
  font-size: 30px;
}

.collapsible{
	height: 50%;
	overflow: auto;
}

.collapsible-header {
  display: block;
  cursor: pointer;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

.buffer{
	height: 20px;
	display: block;
}

.profile3{
	border: 1px black solid;
}

.rowThird{
	height: 33%;
}

#bnm{
  margin-left: 10px;
}

#gh2{
	background-image: url("/images/image1.jpg");
}

.relative{
	position: relative;
}

.nothing{
	bottom: -25px;
}

.absolute{
	position: absolute;
}
.form-btn {
  width: 200px;
}

#testSmall{
	display: inline-block;
  width: 33%;
}

.container {
  width: 90%;
}

.navPic{
	height: 64px;
}

@media (min-width: 400px) and (max-width: 600px) {
  #testSmall {
    width: 100%;
    display: block;
  } 
  .navPic{
	height: 56px;
  }
}

.app{
  height: 25px;
  width: 25px;
}

/*Messaging*/

.message {
  border-radius: 2px;
  color: white;
  margin-bottom: 5px;
}

.message-box {
  overflow: auto;
  height: 200px;
}

.reciever {
  background: blue;
  margin-bottom: 10px;
}

.sender {
  background: yellow;
}